<div class="calculadora">
    <p>{{ resultado }}</p>
    <button (click)="pulsarTecla(0)">0</button>
    <button (click)="pulsarTecla(1)">1</button>
    <button (click)="pulsarTecla(2)">2</button>
    <button (click)="pulsarTecla(3)">3</button>
    <button (click)="pulsarTecla(4)">4</button>
    <button (click)="pulsarTecla(5)">5</button>
    <button (click)="pulsarTecla(6)">6</button>
    <button (click)="pulsarTecla(7)">7</button>
    <button (click)="pulsarTecla(8)">8</button>
    <button (click)="pulsarTecla(9)">9</button>
    <button (click)="pulsarTecla('+')">+</button>
    <button (click)="pulsarTecla('-')">-</button>
    <button (click)="resolver()">=</button>
</div>