<h2>Lista de productos</h2>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Departamento</th>
        <th>Precio</th>
        <th>Activo</th>
    </tr>
    {{#each arrProductos as |prod|}}
    <tr>
        <td>{{prod.nombre}}</td>
        <td>{{prod.departamento}}</td>
        <td>{{prod.precio}}</td>
        <td>{{prod.activo}}</td>
    </tr>
    {{/each}}
</table>