* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white
}

main {
  height: 80vh;
  padding: 30px 40px;
}

main ul li {
  list-style: none;
  margin: 10px;
}

footer {
  height: 10vh;
  background-color: tomato;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  color: white;
}