<table>
    <tr>
        <th>Num</th>
        <th>Título</th>
        <th>Director</th>
    </tr>
    <tr *ngFor="let episodio of episodios; let indice = index; let primero = first; let ultimo = last; let par = even; let impar= odd;"
        [ngClass]="{ filaPar: par , filaImpar: !par }">
        <td>{{ indice }}</td>
        <td>{{ episodio.title }}</td>
        <td>{{ episodio.director }}</td>
        <td>{{ primero }}</td>
        <td>{{ ultimo }}</td>
        <td>{{ par }}</td>
        <td>{{ impar }}</td>
    </tr>
</table>