$colorFondo: tomato;
$tamanoFuente: 1em;
$colorFuente: #444;

body{
    background-color: $colorFondo;
    font: {
        size: $tamanoFuente;
    }
}

.primera{
    color: $colorFuente;
    h2{
        text-decoration: underline;
        font: {
            family: Arial, sans-serif;
            size: $tamanoFuente * 4;
            weight: bold;
        }
    }
    a{
        display: inline-block;
        padding: 10px;
        background-color: red;
        &:hover{
        background-color: yellow;
        transition: 1s;
    }
    }
}