@media(max-width: $breakpointDesktop )
{
    body{
        background-color: red;
    }
}

@media(max-width: $breakpointTablet )
{
    body{
        background-color: green;
    }
}

@media(max-width: $breakpointTablet )
{
    body{
        background-color: blue;
    }
}