$fondoOscuro: darkblue;
$fondoClaro: lightblue;
$tamanoFuente: 1em;
$multiplicador: 4;
$estilo: light; //light
$modo: oscuro;
$breakpointMovil: 500px;
$breakpointTablet : 900px;
$breakpointDesktop : 1750px;